<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Workflow Designer example</display-name>

    <servlet>
        <servlet-name>api</servlet-name>
        <servlet-class>wf.sample.controllers.DesignerController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>api</servlet-name>
        <url-pattern>/Designer/API</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/scripts/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>

    <!--<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/*.html</url-pattern>
    </servlet-mapping>-->
</web-app>